:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
/* Global styles */
body {
  
  max-width: 640px;
  margin: auto;
  background-color: #f0f2f5;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}